
<div class="row text-center mb-3">
    <div class="col-4">
        {% render 'icon-fair-trade' %}
        <h3 class="h3 pt-1">
            {{ 'general.values.fair-trade' | t }}
        </h3>
    </div>
    <div class="col-4">
        {% render 'icon-capsule' %}
        <h3 class="h3 pt-1">
            {{ 'general.values.biodegradable' | t }}
        </h3>
    </div>
    <div class="col-4">
        {% render 'icon-recycle'  %}
        <h3 class="h3 pt-1">
            {{ 'general.values.recycle' | t }}
        </h3>
    </div>
</div>
