
<div id="product-icons" class="row text-center mb-3">
    <div class="col-4">
        {% render 'icon-fair-trade' %}
        <h4 class="h4 pt-1">
            {{ 'general.values.fair-trade' | t }}
        </h4>
    </div>
    <div class="col-4">
        {% render 'icon-capsule' %}
        <h4 class="h4 pt-1">
            {{ 'general.values.biodegradable' | t }}
        </h4>
    </div>
    <div class="col-4">
        {% render 'icon-recycle'  %}
        <h4 class="h4 pt-1">
            {{ 'general.values.recycle' | t }}
        </h4>
    </div>
</div>
