.product-card {
    max-width: 90%;

    @include media-breakpoint-up(sm) {
        max-width: 75%;
        margin: auto;
    }
    @include media-breakpoint-up(md) {
        max-width: 304px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 335px;
    }
}

.featured-products {
    .col-12:nth-child(1) {
        .product-card {
            @include media-breakpoint-up(md) {
                margin-right: auto;
                margin-left: inherit;
            }
        }
    }
  
    .col-12:nth-child(3) {
        .product-card {
            @include media-breakpoint-up(md) {
                margin-right: inherit;
                margin-left: auto;
            }
        }
    }
}
