.submenu-products {
  .menu-item {
    width: 244px;
    cursor: pointer;

    &.active {
      .h1 {
        font-weight: 700 !important;

        a {
          color: $accent1 !important;
        }
      }
    }
  }
}
