.tag-line--title {
  font-size: 24px !important;
  line-height: 40px !important;

  @include media-breakpoint-up(lg) {
    max-width: 768px;
  }

  @include media-breakpoint-down(md) {
    max-width: 680px;
  }
}
