.form-contact {
    .h1 {
        font-family: $secondary-font-family;
        text-transform: uppercase;
        font-size: 2.125rem;
        line-height: 2.652rem;

        @include media-breakpoint-up(md) {
            font-size: 3.375rem;
            line-height: 3.375rem;
            letter-spacing: 2px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 3.5rem;
            line-height: 3.5rem;
            letter-spacing: 2px;
        }
    }

    textarea {
        resize: none;
    }
}
