.image-banner-coffee {
  background-color: #ccc8c0;
  background-repeat: no-repeat;

  height: 712px;
  background-size: 550px;
  background-position: 86% 0%;

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
    height: 680px;
    background-size: 1400px;
    background-position: 80% 36%;
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(xl) {
    height: 896px;
    background-size: 2100px;
    background-position: 80% 66%;
  }

}

#image-banner-coffee-mobile {
    .h1 {
      font-family: $secondary-font-family;
      text-transform: uppercase;
      font-size: 2.125rem;
      line-height: 2.652rem;

      @include media-breakpoint-up(md) {
      }

      @include media-breakpoint-up(xl) {
      }
    }

    .h2 {
      font-family: $secondary-font-family;
      font-size: 1.75rem;
    }
}
