.image-banner-main {
  background-color: #ccc8c0;
  background-repeat: no-repeat;

  height: 712px;
  background-size: 1640px;
  background-position: 65% 38%;

  @include media-breakpoint-up(sm) {
    background-position: 69% 64%;
  }

  @include media-breakpoint-up(md) {
    height: 616px;
    background-position: 52% 50%;
    background-size: 2156px 616px;
  }

  @include media-breakpoint-up(lg) {
    background-position: 48% 50%;
  }

  @include media-breakpoint-up(xl) {
    height: 800px;
    background-position: 50% 65%;
    background-size: 2800px 800px;
  }

  .h1 {
    font-family: $brand-font-family;
    letter-spacing: 1.2px;
    text-transform: none;
    font-size: 4.5rem;
    line-height: 6rem;

    @include media-breakpoint-up(md) {
      font-size: 5rem;
      line-height: 6rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 5.625rem;
      line-height: 6rem;
    }
  }

  .h2 {
    font-size: 1.375rem;
    line-height: 2rem;

    @include media-breakpoint-up(md) {
      width: 416px;
    }

    @include media-breakpoint-up(lg) {
      width: 430px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.5rem;
      line-height: 2rem;
      width: 546px;
    }
  }
}
