.image-banner-coffee {
  background-color: #dcdcdc;
  background-repeat: no-repeat;

  height: 712px;
  background-size: 878px;
  background-position: 100% 110%;

  @include media-breakpoint-up(sm) {
    background-size: 1200px;
    background-position: 100% 700%;
  }

  @include media-breakpoint-up(md) {
    height: 680px;
    background-size: 1200px;
    background-position: 78% 6%;
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(xl) {
    height: 896px;
    background-size: 1700px;
    background-position: 80% 28%;
  }

  .h1 {
    font-family: $secondary-font-family;
    text-transform: uppercase;
    font-size: 2.125rem;
    line-height: 2.652rem;

    @include media-breakpoint-up(md) {
      font-size: 3.375rem;
      line-height: 3.375rem;
      letter-spacing: 2px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 3.5rem;
      line-height: 3.5rem;
      letter-spacing: 2px;
    }
  }

  .h2 {
    font-family: $secondary-font-family;
    font-size: 1.75rem;

    @include media-breakpoint-up(md) {
      font-size: 3.125rem;
      line-height: 3.375rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 3.25rem;
      line-height: 3.5rem;
    }
  }

  p {
    @include media-breakpoint-up(md) {
      font-size: 1rem;
      line-height: 1.5rem;
      width: 490px;
    }
  }

  .btn-cta {
    @include media-breakpoint-up(xl) {
      width: 430px;
    }
  }
}
