.main-cart-footer {
  .h3, .h2 {
      display: inline-block;
  }

  .h2 {
      letter-spacing: 1px;
      font-size: 1.5rem;
  }

  .h3 {
      font-size: 1.25rem;
  }

  p {
      font-size: 1rem;
      font-weight: 700;
  }
}
