.product-expose {
    .h1 {
      font-family: $brand-font-family;
      letter-spacing: 2px;
      text-transform: none;
      font-size: 5.375rem;
      line-height: 5.375rem;

      @include media-breakpoint-up(md) {
        font-size: 5rem;
        line-height: 5.375rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 5.625rem;
        line-height: 6rem;
      }
    }

    .h2 {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .h3 {
      font-size: 1.25rem;
      line-height: 2rem;

      @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }

    p {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: $grey;
    }
}
