#text-morph-container {
    /* Center the text in the viewport. */
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 1rem;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);

    .text1, .text2 {
        position: absolute;
        width: 100%;
        display: inline-block;
        font-size: 1rem;
        user-select: none;
    }
}
