* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family;
    font-size: 16px;
    line-height: 24px;
    color: $accent3;
    background-color: $white;
    margin: 0;
    passing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

h1 {
    font-family: $secondary-font-family;
    font-size: 90px;
    line-height: 96px;
    font-weight: 400;
    letter-spacing: 1px;
}


a {
    text-decoration: underline;
}
