// Font familys
$primary-font-family: 'Articulat CF', sans-serif;
$secondary-font-family: 'Rainer', serif;

// colors
$white: #FFFCF7;
$black: #333333;

$accent1: #F74300;
$accent2: #007D63;
$accent3: #000000;
