<section class='container pt-10'>
    <h1 class='h1 mb-12 text-center'>
        <span class='text-accent1'>{{ 'general.featured-products.title.every-hour' | t }}</span>
        <br/>
        <span>{{ 'general.featured-products.title.intensity' | t }}</span>
    </h1>

    <div class='row featured-products'>
        {% render 'featured-product' for collections[section.settings.collection].products as product  %}
    </div>
</section>


{% schema %}
                {
                  "name": "Featured Products",
                  "settings":[
                    {
                      "type": "collection",
                      "id": "collection",
                      "label": "Collection"
                    }
                  ],
                  "presets": [
                    {
                      "name": "Featured Products",
                      "category": "Products Display"
                    }
                  ]
                }
{% endschema %}
