<hr class='mb-3 mb-sm-5'/>

<section class='container mb-md-13'>
    <h1 class='h1 text-start mb-8 mb-sm-12 mb-lg-15'>
        <span class='text-accent1'>{{ 'general.featured_products.title.every_hour' | t }}</span>
        <span>{{ 'general.featured_products.title.intensity' | t }}</span>
    </h1>

    <div class='row featured-products'>
        {% render 'product-card' for collections[section.settings.collection].products as product  %}
    </div>
</section>


{% schema %}
                {
                  "name": "Featured Products",
                  "settings":[
                    {
                      "type": "collection",
                      "id": "collection",
                      "label": "Collection"
                    }
                  ],
                  "presets": [
                    {
                      "name": "Featured Products",
                      "category": "Products Display"
                    }
                  ]
                }
{% endschema %}
