<section class='container mt-10 mb-12'>
    <div class='row'>
        <div class='col-12 col-md-7 text-start pe-3'>
            <h1 class='h1 mb-2 pt-8'>
                {{ section.settings.hero_title }}
            </h1>

            <h2 class='h2 hero mb-4'>
                {{ section.settings.hero_subtitle }}
            </h2>

            <h3 class='h2'>
                {{ section.settings.hero_content }}
            </h3>
        </div>

        <div class='col-12 col-md-5 text-end'>
            <img class='lazy-loaded' src='{{ section.settings.hero_image | img_url: '450x640' }}' data-lazy-type='image' data-src='https://via.placeholder.com/450x640'/>
        </div>
    </div>
</section>

<hr class='mb-10'/>

{% schema %}
                {
                  "name": "Page Hero",
                  "settings":[
                    {
                      "type": "text",
                      "id": "hero_title",
                      "default": "Notre Promesse",
                      "label": "Hero Title"
                    },
                    {
                      "type": "textarea",
                      "id": "hero_subtitle",
                      "default": "This is a subtitle",
                      "label": "Hero Subtitle"
                    },
                    {
                      "type": "textarea",
                      "id": "hero_content",
                      "default": "This is content",
                      "label": "Hero Content"
                    },
                    {
                      "type": "image_picker",
                      "id": "hero_image",
                      "label": "Hero Image",
                      "info": "Dimensions: 450x640"
                    }

                  ],
                  "presets": [
                    {
                      "name": "Page Hero",
                      "category": "Pages"
                    }
                  ]
                }
{% endschema %}
