.link-hover {
  transition: all 0.1s ease-in-out;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 0px;
    height: 2px;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.2s;
    opacity: 0;
    background-color: $accent3;
    left: 0;
  }

  &:hover {
    text-decoration: none !important;
    cursor: pointer;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }

  &.current {
    cursor: default;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
