@font-face {
    font-family: 'Articulat CF';
    src: url('articulatcf-normal.woff2') format('woff2'),
         url('articulatcf-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('articulatcf-bold.woff2') format('woff2'),
         url('articulatcf-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rainer';
    src: url('Rainerv04.woff2') format('woff2'),
         url('Rainerv04.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rainer';
    src: url('Rainerv04-Bold.woff2') format('woff2'),
         url('Rainerv04-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
