.h1 {
  font-family: $secondary-font-family;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 1.2px;

  @include media-breakpoint-up(sm) {
    font-size: 90px;
    line-height: 96px;
  }

  &.hero {
  }

  &.branding {
  }
}

.h2 {
  font-family: $primary-font-family;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;

  &.hero {
    font-size: 30px;
    line-height: 40px;
  }

  &.hero--subheading {
    font-size: 24px;
    line-height: 32px;

    @include media-breakpoint-up(md) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

.h3 {
  &.hero--list {
    font-size: 24px;
    line-height: 32px;

    @include media-breakpoint-up(md) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

p {
  margin: 0;
}

.link-hover {
  transition: all 0.1s ease-in-out;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 0px;
    height: 2px;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.2s;
    opacity: 0;
    background-color: $accent1;
    left: 0;
  }

  &:hover {
    text-decoration: none !important;
    cursor: pointer;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }

  &.current {
    cursor: default;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
