@import "./fonts";
@import "./variables";
// When Sass is precompiled by its own CLI, it processes @imports by itself, and
// sometimes thus doesn’t understand ~ notation. We will call node_modules directly.
@import "node_modules/bootstrap/scss/bootstrap";

@import "./typography";
@import "./effects";

@import "./components/fullpage_landing";
@import "./components/fullpage_landing";
@import "./components/engagements";
@import "./components/hero";
@import "./components/buttons";
@import "./components/footer";
@import "./components/featured_products";
@import "./components/tag_line";

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: $primary-font-family;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  opacity: 1;
  background-color: #dedede;
}

ul,
ol,
dl {
  margin: 0;
}

.container {
  max-width: 1288px;
}

.bg-accent1 {
  background-color: $accent1;
}

.bg-accent3 {
  background-color: $accent3;
}

.text-accent1 {
  color: $accent1;
}

// [class*=col-] {
//     border: 1px solid #cccccc;
// }
