@import './fonts';
@import './global/variables';
// When Sass is precompiled by its own CLI, it processes @imports by itself, and sometimes thus doesn’t understand ~ notation.
// We will call node_modules directly.
@import 'node_modules/bootstrap/scss/bootstrap';
@import './components/navigation';

html {
    font-size: 16px;
}

body {
    font-family: $primary-font-family;
    line-height: 24px;
    margin: 0;
    passing: 0;
}

.bg-accent1 {
    background-color: $accent1;;
}

// [class*=col-] {
//     border: 1px solid #cccccc;
// }

.container {
  max-width: 1288px;
}

.site-menu {
    height: 96px;

    a {
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
