@import "./fonts";
@import "./variables";
@import "node_modules/bootstrap/scss/bootstrap";

@import "./typography";
@import "./effects";

@import "./components/header";
@import "./components/menu-drawer";
@import "./components/image-banner-main";
@import "./components/image-banner-product";
@import "./components/image-banner-coffee";
@import "./components/logo";
@import "./components/buttons";
@import "./components/btn-3d";
@import "./components/featured-products";
@import "./components/advantages";
@import "./components/recall";
@import "./components/footer";
@import "./components/add-to-cart";
@import "./components/image-with-text";

@import "./debug.scss";

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: $primary-font-family;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  opacity: 1;
  background-color: $light-grey;
  color: $light-grey;
}

ul,
ol,
dl {
  margin: 0;
}

.container {
  max-width: 1288px;
}

.bg-accent1 {
  background-color: $accent1;
}

.text-accent1 {
  color: $accent1 !important;
}

.text-no-shadow {
  text-shadow: none !important;
}
