<div class='pt-12 text-center'>
    <h1 class='h1'>
        Contact Form
    </h1>
</div>


{% schema %}
  {
    "name": "Contact Form",
    "tag": "section",
    "settings":[
    ],
    "presets": [
      {
        "name": "Contact Form",
        "category": "Main"
      }
    ]
  }
{% endschema %}
