<style>
  .image-product-mobile--{{ section.id  }} {
     background-image: url({{ product.images[1] | img_url: 'master'}})
  }
</style>

<div id="product-mobile" class="d-md-none image-product image-product-mobile--{{ section.id }}">
  Hello Product
</div>

{% schema %}
  {
    "name": "t:sections.image-banner-product.name",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "t:sections.image-banner-product.name",
        "category": "Product"
      }
  ]
}
{% endschema %}
