<style>
  .image-banner-product-mobile--{{ section.id  }} {
     background-image: url({{ product.images[1] | img_url: 'master'}})
  }
</style>

<div id="image-banner-product-mobile" class="d-md-none image-banner-product image-banner-product-mobile--{{ section.id }}">
    <div class='pt-10 text-center'>
      <h1 class='h1 mb-2'>
          {{ product.title  }}
      </h1>

    </div>
</div>

<div id="product-mobile-description" class="d-md-none">
    <h2 class='h2 mb-24'>
        descriptiton
    </h2>
</div>

{% schema %}
  {
    "name": "t:sections.image-banner-product.name",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "t:sections.image-banner-product.name",
        "category": "Product"
      }
  ]
}
{% endschema %}
