<div class="container d-flex align-items-center justify-content-center pt-3">
    {% render 'logo' %}
  <button class="btn-close" onclick="history.go(-1)" aria-label="Close"></button>
</div>


{% schema %}
  {
    "name": "Cart Header",
    "tag": "section",
    "class": "main-cart-header",
    "settings":[
    ],
    "presets": [
      {
        "name": "Cart Header",
        "category": "Cart"
      }
    ]
  }
{% endschema %}
