<div class="container d-flex align-items-center justify-content-between pt-6">
    <div></div>
    {% render 'logo' %}
    <a class="btn-close" href="/products/mattino" aria-label="Close"></a>
</div>


{% schema %}
  {
    "name": "Cart Header",
    "tag": "section",
    "class": "main-cart-header",
    "settings":[
    ],
    "presets": [
      {
        "name": "Cart Header",
        "category": "Cart"
      }
    ]
  }
{% endschema %}
