<style>
  .image-product-mobile--{{ section.id  }} {
     background-image: url({{section.settings.image-mobile | img_url: 'master'}})
  }
</style>


<div id="product-mobile" class="d-md-none image-product image-product-mobile--{{ section.id }}">
  Hello
</div>

{% schema %}
  {
    "name": "t:sections.product.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "label": "t:sections.product.settings.image.label",
        "id": "image-desktop",
        "label": "Image for Desktops",
        "info": "Dimensions: 2880x1792"
      },
      {
        "type": "image_picker",
        "label": "t:sections.product.settings.image.label",
        "id": "image-mobile",
        "label": "Image for Mobile",
        "info": "Dimensions: 2800x1600"
      }
    ],
    "presets": [
      {
        "name": "t:sections.product.name",
        "category": "Product"
      }
  ]
}
{% endschema %}
