<div id='recall' class='container text-center mt-13'>
    <div class='mb-4'>
        <a class='logo logo-md' href='{{ routes.root_url  }}'>
            {% render 'logo' %}
        </a>
    </div>

    <div class="row justify-content-center mb-6">
        <div class="col">
            <h2 class='h2 mx-auto'>
                {{ 'general.hero.sub-title' | t }}
            </h2>
        </div>
    </div>

    <a href='/products/mattino' class='btn btn-lg btn-outline-secondary text-uppercase mb-17'>
        {{ 'general.button.order-now' | t }}
    </a>
</div>

{% schema %}
  {
    "name": "Recall",
    "tag": "section",
    "settings":[
    ],
    "presets": [
      {
        "name": "Recall",
        "category": "Main"
      }
    ]
  }
{% endschema %}
