.btn-primary {
    color: $white !important;
    line-height: 1.25rem !important;
}

.btn-secondary, .btn-outline-secondary {
    &.btn-lg {
        --bs-btn-padding-y: 1.2rem;
        --bs-btn-padding-x: 3.2rem;
    }
}

.btn-cta {
    @extend .btn-primary;
    --bs-btn-padding-x: 3.2rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-line-height: 1.25rem;

    &.btn-lg {
        --bs-btn-padding-y: 1.25rem;
        @include media-breakpoint-up(md) {
            --bs-btn-padding-y: 1rem;
        }

        @include media-breakpoint-up(xl) {
            --bs-btn-padding-y: 1.25rem;
        }
    }
}
