.main-image-banner {
  background-color: #ccc8c0;
  background-repeat: no-repeat;

  height: 736px;
  background-size: 2156px;
  background-position: 50% 50%;

  @include media-breakpoint-only(md) {
    height: 616px;
    background-position: 50% 50%;
    background-size: 2156px 616px;
  }

  @include media-breakpoint-only(lg) {
    height: 800px;
    background-position: 55% 50%;
    background-size: 2800px 800px;
  }

  @include media-breakpoint-up(xl) {
    height: 800px;
    background-position: 48% 65%;
    background-size: 2800px 800px;
  }

  .h2 {
    @include media-breakpoint-only(lg) {
      width: 508px;
    }

    @include media-breakpoint-up(xl) {
      width: 546px;
    }
  }
}
