<section class='bg-accent1 sticky-top'>
    <div class='container'>
        <div class='row d-flex align-items-center'>
            <div class='col-md-4'></div>
            <div class='py-1 col-12 col-md-4 text-center text-white'>
                <strong>
                    {{ 'general.notification.free_delivery' | t }}
                </strong>
            </div>
            <div class='col-md-4 text-end'>
                <a class='d-none d-md-inline-block text-white' href='https://www.instagram.com/piu.cafe/' target='_blank'>
                    {{ 'icon-instagram.png' | asset_img_url: '40x' | img_tag: 'Instagram' }}
                </a>

                <a class='d-none d-md-inline-block text-white me-n1' href='https://www.facebook.com/piu.cafe.italien' target='_blank'>
                    {{ 'icon-facebook.png' | asset_img_url: '40x' | img_tag: 'Facebook' }}
                </a>
            </div>
        </div>
    </div>
</section>
