{% comment %}
    Requires the following arguments:

    - settings: {
    engagement_image
    }


{% endcomment %}



{% assign keys = 'capsule,free-trade,recycle' | split: ',' %}

<style>
    #engagement-image {
        background-image: url({{ settings.engagement_image | img_url: 'master' }});

    }
</style>

<section class='container'>
    <div class='row'>
        <div class='col-12 col-md-6 border-end pt-3 pt-sm-5'>
            <h1 class='h1 text-start mb-8 mb-sm-11 mb-lg-11'>
                <span>{{ 'general.engagements.title' | t }}</span>
            </h1>

            {% render 'engagement-list-item' for keys as key %}

            <div class='pb-24'></div>
        </div>
        <div class='d-none d-md-block col-12 col-md-6' id='engagement-image'>
        </div>
    </div>
</section>
