<hr class='mb-5'/>

<section class='container'>
    <h1 class='h1 text-start mb-9'>
        Chaque Heure, La Bonne Intensité
    </h1>

    <div class='featured-products'>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
        <p>Heloo</p>
    </div>
</section>
