<section class='container text-center'>
    <h1 class='h1 mb-6'>
        {{ 'general.hero.title' | t }}
    </h1>

    <div style='max-width: 600px; height: 328px' class='mx-auto bg-secondary mb-5'>
        IMAGE
    </div>

    <h2 class='hero--subheading mb-4 mx-auto'>
        {{ 'general.hero.sub_title' | t }}
    </h2>

    <a class='button--order mb-9' href='#'>
        {{ 'general.button.order_now' | t }}
    </a>
</section>
