{% comment %}

Root element for react cart control

{% endcomment %}

<div id='react-cart-control'
     data-variant-id={{ variant_id }}
     data-variant-price={{ price }}
     data-add-to-cart="{{ add_to_cart | t }}"
     data-thank-you="{{ thank_you | t }}">
</div>
