<section class='bg-accent3 fixed-top'>
    <div class='notification-bar d-flex align-items-center justify-content-center'>
        <div class='text-light'>
            {{ 'general.notification.free-delivery' | t }}
        </div>
    </div>
</section>
