.h1 {
  font-family: $secondary-font-family;
  font-size: 2.5rem;
  line-height: 2.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  // &.hero {
  //   font-size: 3.5rem;
  //   line-height: 3.5rem;
  //   letter-spacing: 1.6px;
  // }

  // &.light-hero {
  //   font-size: 3.5rem;
  //   line-height: 3.5rem;
  //   text-transform: none;
  //   font-weight: 400;
  //   letter-spacing: -1px;
  // }

  &.light {
    font-weight: 400;
    letter-spacing: 1px;
  }

  // &.brand {
  //   font-family: $brand-font-family;
  //   font-size: 5.625rem;
  //   line-height: 6rem;
  //   letter-spacing: 1.2px;
  //   text-transform: none;
  // }
}

.h2 {
  font-family: $primary-font-family;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;

  // &.hero {
  //   font-size: 1.875rem;
  //   line-height: 2.5rem;
  // }
}

.h3 {
  font-size: 1.25rem;
  line-height: 2rem;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.link-hover {
  transition: all 0.1s ease-in-out;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 0px;
    height: 2px;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.2s;
    opacity: 0;
    background-color: $black;
    left: 0;
  }

  &:hover,
  &.activate-hover {
    text-decoration: none !important;
    cursor: pointer;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }

  &.current {
    cursor: default;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
