@import "./fonts";
@import "./variables";
@import "node_modules/bootstrap/scss/bootstrap";

@import "./typography";
@import "./effects";

@import "./components/header";
@import "./components/menu-drawer";
@import "./components/main-image-banner";
@import "./components/logo";

@import "./debug.scss";

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: $primary-font-family;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  opacity: 1;
  background-color: #dedede;
}

ul,
ol,
dl {
  margin: 0;
}

.container {
  max-width: 1288px;
}

.bg-accent1 {
  background-color: $accent1;
}

.bg-accent3 {
  background-color: $accent3;
}

.text-accent1 {
  color: $accent1 !important;
}
